# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE-specific files
.idea/

# Large data files
# We don't want to track large CSV or ZIP files in Git
# Ignore all CSV files...
*.csv
# ...EXCEPT for the sample file, which we need for deployment.
!movies_sample.csv
*.zip
*.csv.gz
movies_metadata.csv
# Environment folders
# If you ever create a virtual environment (e.g., venv), it should be ignored
venv/
.venv/